* {
	box-sizing: border-box;
}
body {
	min-width: 320px;
	overflow-x: hidden;
	font-family: 'SFProDisplay', sans-serif;
	overflow-x: hidden;
}

a {
	text-decoration: none;
}

.container {
	max-width: 1528px;
	padding: 0 20px;
	margin: 0 auto;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

button {
	padding: 0;
	border: none;
	outline: none;
	cursor: pointer;
	background: transparent;
}

h1 {
	margin: 0;
}